<br />
<div class="text-center">
    <div class="card w-25 text-center">
        <div class="card-body text-center">
            <h4 class="card-title">Placeholder Meeting Name</h4>
            <p class="card-text"><strong>Start Time: </strong>Placeholder Meeting Time</p>
            <p class="card-text"><strong>Meeting with: </strong>Placeholder Person</p>
        </div>
        <button type="button" class="btn btn-success btn-lg">Sign In</button>
    </div>
</div>

@code {

}
